@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 37.5%;
  }
}

.faq {
  height: 100vh;
}

.faq-section {
  margin: 0 auto;
  max-width: 140rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 43.75em) {
  .faq-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.faq-section .accordion {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 43.75em) {
  .faq-section .accordion {
    margin: 3rem;
  }
}

.faq-section .accordion .accordion-container {
  border-top: 2px solid #2F80ED;
  background-color: #ffffff;
  border-radius: 5px;
  height: 100%;
  font-family: inherit;
  -webkit-box-shadow: -5px -1px 17px -10px rgba(8, 113, 199, 0.679);
          box-shadow: -5px -1px 17px -10px rgba(8, 113, 199, 0.679);
  font-family: 'Rubik', sans-serif;
}

.faq-section .accordion .accordion-container .ac {
  border: none;
}

.faq-section .accordion .accordion-container .ac1 {
  border-bottom: 1px solid #DCE9F8;
}

.faq-section .accordion .accordion-container .ac-trigger {
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.faq-section .faq-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5rem;
}

.faq-section .faq-content__tittle {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.faq-section .faq-content__dexription {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: dimgray;
}

.faq-section .faq-content__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faq-section .faq-content__counter > * {
  margin-right: 4rem;
}

.faq-section .faq-content__counter .amount .detail {
  font-size: 1.5rem;
}

.faq-section .faq-content__counter .amount .num1, .faq-section .faq-content__counter .amount .num2, .faq-section .faq-content__counter .amount .num3 {
  font-size: 4rem;
  font-weight: 700;
}

.faq-section .faq-content__counter .amount .num1 {
  color: #FE0C7D;
}

.faq-section .faq-content__counter .amount .num2 {
  color: #FBAD26;
}

.faq-section .faq-content__counter .amount .num3 {
  color: #2F80ED;
}

.btn {
  background-color: none;
  border: none;
  margin: 2rem 0;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn a {
  padding: 2rem 4rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #2F80ED;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-image: -webkit-linear-gradient(45deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-image: -o-linear-gradient(45deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-image: linear-gradient(45deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 300%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media only screen and (max-width: 43.75em) {
  .btn a {
    padding: 2rem 5rem;
  }
}

.btn a:hover {
  background-position: 100%;
  color: #2F80ED;
  margin-left: 0.5rem;
  box-shadow: 10px 10px 46px -10px rgba(47, 128, 237, 0.75);
  -webkit-box-shadow: 10px 10px 46px -10px rgba(47, 128, 237, 0.75);
  -moz-box-shadow: 10px 10px 46px -10px rgba(47, 128, 237, 0.75);
}

.btn-2 {
  background-color: none;
  border: none;
  margin: 2rem 0;
}

.btn-2:hover {
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn-2 a {
  padding: 2rem 4rem;
  text-decoration: none;
  color: #2F80ED;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-image: -webkit-linear-gradient(45deg, transparent 0%, transparent 50%, #2F80ED 50%);
  background-image: -o-linear-gradient(45deg, transparent 0%, transparent 50%, #2F80ED 50%);
  background-image: linear-gradient(45deg, transparent 0%, transparent 50%, #2F80ED 50%);
  background-size: 300%;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media only screen and (max-width: 43.75em) {
  .btn-2 a {
    padding: 2rem 5rem;
  }
}

.btn-2 a:hover {
  background-position: 100%;
  color: #ffffff;
  margin-left: 0.5rem;
  box-shadow: 10px 10px 46px -10px rgba(47, 128, 237, 0.75);
  -webkit-box-shadow: 10px 10px 46px -10px rgba(47, 128, 237, 0.75);
  -moz-box-shadow: 10px 10px 46px -10px rgba(47, 128, 237, 0.75);
}

.swiper-container {
  height: 100%;
  width: 100%;
  margin-bottom: 20rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  height: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.tabbed .text {
  padding: 1.5rem;
}

.tabbed-container {
  max-width: 110rem;
  margin: 5rem auto;
}

.tabbed-container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 43.75em) {
  .tabbed-container .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 43.75em) {
  .tabbed-container .flex-container .tan-nav {
    width: 100%;
  }
}

@media only screen and (max-width: 43.75em) {
  .tabbed-container .flex-container #tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.tabbed-container .flex-container #tabs .tab-nav1 {
  color: #FE0C7D;
  background-color: #FFF6FA;
}

.tabbed-container .flex-container #tabs .tab-nav1 svg {
  margin-bottom: 1rem;
}

.tabbed-container .flex-container #tabs .tab-nav2 {
  color: #2F80ED;
  background-color: #DCE9F8;
}

.tabbed-container .flex-container #tabs .tab-nav2 svg {
  margin-bottom: 1rem;
}

.tabbed-container .flex-container #tabs .tab-nav3 {
  color: #FBAD26;
  background-color: #FFF9ED;
}

.tabbed-container .flex-container #tabs .tab-nav3 svg {
  margin-bottom: 1rem;
}

.tabbed-container .flex-container #tabs li {
  padding: 4rem 5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  list-style: none;
}

.tabbed-container .flex-container #tabs li:hover {
  -webkit-transform: translateY(0.3rem);
      -ms-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}

.tabbed-container .flex-container #tabs li svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 43.75em) {
  .tabbed-container .flex-container #tabs [data-tab] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.tabbed-container .flex-container #tabs [data-tab].active {
  background-color: #FE0C7D;
  color: #ffffff;
}

.tabbed-container .flex-container .flex-item {
  display: none;
}

.tabbed-container .flex-container .flex-item.active {
  display: block;
  padding: 1em;
}

@media only screen and (max-width: 43.75em) {
  .tabbed-container .flex-container .flex-item.active {
    padding: 0;
  }
}

.tabbed-container .flex-container .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: animbefore 10s infinite;
          animation: animbefore 10s infinite;
}

@media only screen and (max-width: 43.75em) {
  .tabbed-container .flex-container .tab-content {
    width: 100%;
    -webkit-animation: none;
            animation: none;
    margin: 0 auto;
  }
  .tabbed-container .flex-container .tab-content::before {
    display: none;
  }
  .tabbed-container .flex-container .tab-content:after {
    display: none;
  }
}

.tabbed-container .flex-container .tab-content::before {
  position: absolute;
  bottom: -5rem;
  right: 0rem;
  content: '';
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #FE0C7D;
  opacity: 0.2;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-animation: animbefore 4s infinite;
          animation: animbefore 4s infinite;
}

.tabbed-container .flex-container .tab-content::after {
  position: absolute;
  top: -5rem;
  left: 0rem;
  content: '';
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #FE0C7D;
  opacity: 0.2;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-animation: animbefore 4s infinite;
          animation: animbefore 4s infinite;
}

.tabbed-container .flex-container .tab-content .flex-item .build {
  margin-left: 4rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 25px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 0 25px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.tabbed-container .flex-container .tab-content .flex-item .build img {
  width: 100%;
}

@media only screen and (max-width: 43.75em) {
  .tabbed-container .flex-container .tab-content .flex-item .build {
    margin: 1rem;
  }
}

.tabbed-container .flex-container .tab-content .flex-item .build-text {
  font-size: 2rem;
  font-weight: 800;
}

.tabbed-container .flex-container .tab-content .flex-item .build-description {
  padding: 2rem 0;
  font-size: 1.4rem;
  text-align: left;
  color: #021937;
}

.tabbed-container .flex-container .tab-content .flex-item .build-img {
  height: 40%;
  width: 40%;
  margin-left: auto;
}

.navigation {
  border-top: 3px solid #FE0C7D;
  -webkit-box-shadow: -5px 6px 16px -14px #000000;
  box-shadow: -5px 6px 25px -14px #00000023;
}

.navigation .nav-bar {
  max-width: 140rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar {
    padding: 2rem;
    z-index: 30;
  }
  .navigation .nav-bar .toggle {
    width: 5rem;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .navigation .nav-bar .toggle span {
    background-color: #2F80ED;
    width: 4rem;
    height: 0.3rem;
    position: relative;
  }
  .navigation .nav-bar .toggle span::before {
    position: absolute;
    background-color: #2F80ED;
    content: '';
    top: 10px;
    width: 4rem;
    height: 0.3rem;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .navigation .nav-bar .toggle span::after {
    position: absolute;
    background-color: #2F80ED;
    content: '';
    bottom: 10px;
    width: 4rem;
    height: 0.3rem;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .navigation .nav-bar .toggle.active {
    position: fixed;
    right: 10px;
  }
  .navigation .nav-bar .toggle.active span {
    height: 0;
  }
  .navigation .nav-bar .toggle.active span::before {
    position: absolute;
    background-color: #2F80ED;
    content: '';
    top: 0;
    width: 4rem;
    height: 0.3rem;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .navigation .nav-bar .toggle.active span::after {
    position: absolute;
    background-color: #2F80ED;
    content: '';
    bottom: -2px;
    width: 4rem;
    height: 0.3rem;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.navigation .nav-bar__logo .bi-bank2 {
  width: 3em;
  color: #FE0C7D;
}

.navigation .nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    background-color: #ffffff;
    opacity: 1;
    pointer-events: all;
  }
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    background-color: #ffffff;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

.navigation .nav-bar__list > * {
  margin: 1rem;
  color: #021937;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list > * {
    font-size: 2rem;
  }
}

.navigation .nav-bar__list > * a {
  text-decoration: none;
  color: #021937;
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list > * a {
    font-size: 2rem;
  }
}

.navigation .nav-bar__list > *:hover {
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.navigation .nav-bar__list .dropdown-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.navigation .nav-bar__list .dropdown-1 .dropdown-btn1 {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list .dropdown-1 .dropdown-btn1 {
    font-size: 2rem;
  }
}

.navigation .nav-bar__list .dropdown-1 .dropdown-btn1:focus + .dropdown-content {
  opacity: 1;
  pointer-events: all;
}

.navigation .nav-bar__list .dropdown-1 .dropdown-content {
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list .dropdown-1 .dropdown-content.active {
    position: relative;
    opacity: 1;
    pointer-events: all;
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list .dropdown-1 .dropdown-content {
    position: relative;
    opacity: 1;
    pointer-events: all;
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 0;
    display: none;
  }
}

.navigation .nav-bar__list .dropdown-1 .dropdown-content a {
  padding: 1rem;
  color: #021937;
  font-family: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: auto;
  width: 100%;
}

.navigation .nav-bar__list .dropdown-1 .dropdown-content a:hover {
  background-position: 100%;
  color: #ffffff;
  margin-left: 0.5rem;
}

.navigation .nav-bar__list .dropdown-1 .dropdown-content a:not(:last-child) {
  border-bottom: 0.1rem solid #F4F9FD;
}

.navigation .nav-bar__list .pricing a {
  color: #021937;
}

.navigation .nav-bar__list .dropdown-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.navigation .nav-bar__list .dropdown-2 .dropdown-btn2 {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list .dropdown-2 .dropdown-btn2 {
    font-size: 2rem;
  }
}

.navigation .nav-bar__list .dropdown-2 .dropdown-btn2:focus + .dropdown-content2 {
  opacity: 1;
  pointer-events: all;
}

.navigation .nav-bar__list .dropdown-2 .dropdown-content2 {
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 3rem;
  width: 20rem;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 12px -10px #000000;
  box-shadow: 5px 5px 12px -10px #000000;
  border-radius: 0.2rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list .dropdown-2 .dropdown-content2.active {
    position: relative;
    opacity: 1;
    pointer-events: all;
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 43.75em) {
  .navigation .nav-bar__list .dropdown-2 .dropdown-content2 {
    position: relative;
    opacity: 1;
    pointer-events: all;
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 0;
    width: 100%;
    display: none;
  }
}

.navigation .nav-bar__list .dropdown-2 .dropdown-content2 a {
  padding: 1rem;
  color: #021937;
  font-family: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: auto;
  width: 100%;
}

.navigation .nav-bar__list .dropdown-2 .dropdown-content2 a:hover {
  background-position: 100%;
  color: #ffffff;
  margin-left: 0.5rem;
}

.navigation .nav-bar__list .dropdown-2 .dropdown-content2 a:not(:last-child) {
  border-bottom: 0.1rem solid #F4F9FD;
}

.navigation .nav-bar__list .get-started a {
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  background-color: #DCE9F8;
  font-weight: 500;
  color: #2F80ED;
}

.navigation .nav-bar__list .get-started a:hover {
  box-shadow: 10px 10px 46px -10px rgba(47, 128, 237, 0.75);
  -webkit-box-shadow: 10px 10px 46px -10px rgba(47, 128, 237, 0.75);
  -moz-box-shadow: 10px 10px 46px -10px rgba(47, 128, 237, 0.75);
}

.hiro {
  height: 100vh;
}

.hiro .header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 140rem;
  margin: 0 auto;
}

@media only screen and (max-width: 43.75em) {
  .hiro .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin-top: 15rem;
  }
}

.hiro .header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.5;
}

@media only screen and (max-width: 43.75em) {
  .hiro .header__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    padding: 4rem;
  }
}

.hiro .header__content .tittle h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #021937;
  position: relative;
  z-index: -1;
}

.hiro .header__content .tittle h1::before {
  position: absolute;
  top: -5rem;
  left: -5rem;
  height: 3rem;
  width: 3rem;
  content: '';
  background: -webkit-gradient(linear, right top, left top, from(#2F80ED), to(#DCE9F8));
  background: -webkit-linear-gradient(right, #2F80ED, #DCE9F8);
  background: -o-linear-gradient(right, #2F80ED, #DCE9F8);
  background: linear-gradient(270deg, #2F80ED, #DCE9F8);
  border-radius: 50px;
  z-index: 21;
  opacity: 0.5;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: animbefore 4s infinite;
          animation: animbefore 4s infinite;
}

.hiro .header__content .description {
  padding: 2rem 0;
}

.hiro .header__content .description p {
  font-size: 1.7rem;
  color: #52575e;
}

.hiro .header__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.hiro .header__img img {
  width: 100%;
}

.hiro .header__img::after {
  content: url(/asset/images/hero-2-triangle-2.png);
  position: absolute;
  z-index: 21;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: rotate 5s  infinite;
          animation: rotate 5s  infinite;
}

@media only screen and (max-width: 43.75em) {
  .hiro .header__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 80%;
  }
}

.hiro .header .sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem 0;
}

.hiro .header .sponsor > * {
  padding: 1rem 0;
}

.hiro .header .sponsor-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.hiro .header .sponsor-1 .bi-check2-all {
  margin-right: 1rem;
  color: #2F80ED;
}

.hiro .header .sponsor-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.hiro .header .sponsor-2 .bi-check2-all {
  margin-right: 1rem;
  color: #FE0C7D;
}

.hiro .header .sponsor-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.hiro .header .sponsor-3 .bi-check2-all {
  margin-right: 1rem;
  color: #FBAD26;
}

.service-section {
  background-color: #DCE9F8;
  position: relative;
  overflow: hidden;
}

.service-section::before {
  position: absolute;
  content: url(/asset/images/services-circle-2.png);
  opacity: 0.1;
  left: 0;
  top: 10rem;
}

.service-section::after {
  position: absolute;
  content: url(/asset/images/services-circle-2.png);
  opacity: 0.1;
  left: 0;
  top: 18rem;
}

.service-section .service {
  max-width: 140rem;
  margin: 0 auto;
}

.service-section .service .tittle {
  padding-top: 5rem;
}

@media only screen and (max-width: 43.75em) {
  .service-section .service .tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.service-section .service .tittle h1 {
  position: relative;
  margin-top: 10rem;
  font-weight: 400;
  font-size: 1.5;
  color: #BE4BFF;
  background: #EEE2FD;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
}

.service-section .service .description {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 43.75em) {
  .service-section .service .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
}

.service-section .service .description .tittle {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5.2rem;
}

.service-section .service .description .btn-feature {
  background-color: transparent;
}

.service-section .service .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 43.75em) {
  .service-section .service .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.service-section .service .feature {
  z-index: 10;
  background-color: #ffffff;
  padding: 2rem;
  -webkit-box-shadow: 0px 40px 70px 0px rgba(0, 0, 0, 0.097);
          box-shadow: 0px 40px 70px 0px rgba(0, 0, 0, 0.097);
  border-radius: 2rem;
  border-top: 2px solid transparent;
  margin: 0 2rem;
  margin-bottom: 20rem;
}

@media only screen and (max-width: 43.75em) {
  .service-section .service .feature {
    margin: 2rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.service-section .service .feature:hover {
  border-top: 2px solid #BE4BFF;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.service-section .service .feature svg {
  width: 5rem;
  height: 5rem;
}

.service-section .service .feature .title {
  padding: 2rem 0;
}

.service-section .service .feature .title a {
  font-size: 2.2rem;
  font-weight: 800;
  text-decoration: none;
  color: #021937;
}

.service-section .service .feature .description p {
  font-size: 1.5rem;
}

@media only screen and (max-width: 43.75em) {
  .service-section .service .feature .description p {
    text-align: center;
  }
}

.service-section .service .f1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service-section .service .f1:hover {
  -webkit-box-shadow: 0px 40px 70px 0px #fe0c7d1c;
          box-shadow: 0px 40px 70px 0px #fe0c7d1c;
}

.service-section .service .f1 .bi-file-earmark-bar-graph-fill {
  color: #FE0C7D;
}

.service-section .service .f2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service-section .service .f2:hover {
  -webkit-box-shadow: 0px 40px 70px 0px #2f81ed21;
          box-shadow: 0px 40px 70px 0px #2f81ed21;
}

.service-section .service .f2 .bi-house-fill {
  color: #2F80ED;
}

.service-section .service .f3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service-section .service .f3:hover {
  -webkit-box-shadow: 0px 40px 70px 0px #fbad2629;
          box-shadow: 0px 40px 70px 0px #fbad2629;
}

.service-section .service .f3 .bi-layers-fill {
  color: #FBAD26;
}

.second-feature {
  background-color: #DCE9F8;
  position: relative;
  overflow: hidden;
}

.second-feature::before {
  position: absolute;
  content: url(/asset/images/about-circle-2.png);
  opacity: 0.1;
  right: 0;
  top: 10rem;
}

.second-feature::after {
  position: absolute;
  content: url(/asset/images/about-circle-2.png);
  opacity: 0.1;
  right: 0;
  top: 18rem;
}

.second-feature .container-feature {
  max-width: 140rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

@media only screen and (max-width: 43.75em) {
  .second-feature .container-feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.second-feature .container-feature__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: -7px 5px 0px -2px #ffffff;
  box-shadow: -15px 20px 0px -2px #ffffff;
}

.second-feature .container-feature__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-feature .container-feature__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem 3rem;
}

@media only screen and (max-width: 43.75em) {
  .second-feature .container-feature__content {
    text-align: center;
  }
}

.second-feature .container-feature__content .title h1 {
  position: relative;
  font-weight: 400;
  font-size: 1.5;
  color: #FE0C7D;
  background: #eee2fd;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
}

.second-feature .container-feature__content .title2 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5.2rem;
  margin: 2rem 0 2rem 0;
}

.second-feature .container-feature__content .description {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.6rem;
  color: #6c6a8a;
  margin-bottom: 3rem;
}

.second-feature .container-feature__content .btn-feature2 {
  margin-top: auto;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15rem 0;
}

.text .tittle {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
}

.text .description {
  font-size: 1.6rem;
  font-weight: 600;
  color: #6c6a8a;
  margin-top: 2rem;
  line-height: 2.6rem;
}

.contact1 {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem 2rem;
}

@media only screen and (max-width: 43.75em) {
  .contact1 {
    margin-left: 0;
    padding: 0;
  }
}

.contact1-box {
  margin-top: 5rem;
  position: relative;
  background: -webkit-linear-gradient(45deg, #2F80ED, #021937);
  background: -o-linear-gradient(45deg, #2F80ED, #021937);
  background: linear-gradient(45deg, #2F80ED, #021937);
  max-width: 110rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  padding: 2rem;
  overflow: hidden;
  width: 100%;
}

@media only screen and (max-width: 43.75em) {
  .contact1-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
  }
}

.contact1-box .text {
  z-index: 1;
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 700;
}

@media only screen and (max-width: 43.75em) {
  .contact1-box .text {
    text-align: center;
  }
}

.contact1-box .up {
  z-index: 1;
}

.contact1-box::before {
  position: absolute;
  content: url(/asset/images/wave.png);
  bottom: -5px;
  opacity: .5;
}

@media only screen and (max-width: 43.75em) {
  .contact1-box::before {
    bottom: -100px;
  }
}

.section-showcase {
  background-color: #DCE9F8;
}

.section-showcase .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 110rem;
  margin: 10rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10rem;
}

@media only screen and (max-width: 43.75em) {
  .section-showcase .content-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-showcase .content-box h1 {
  position: relative;
  font-size: 4rem;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

@media only screen and (max-width: 43.75em) {
  .section-showcase .content-box h1 {
    text-align: center;
  }
}

.shadow {
  -webkit-box-shadow: 5px 5px 12px -10px #000000;
  box-shadow: 5px 5px 12px -10px #000000;
}

.trans {
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.b-img {
  background-image: -webkit-linear-gradient(45deg, transparent 0%, transparent 50%, #2F80ED 50%);
  background-image: -o-linear-gradient(45deg, transparent 0%, transparent 50%, #2F80ED 50%);
  background-image: linear-gradient(45deg, transparent 0%, transparent 50%, #2F80ED 50%);
  background-size: 270%;
}

.drop-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 3rem;
  width: 20rem;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 12px -10px #000000;
  box-shadow: 5px 5px 12px -10px #000000;
  border-radius: 0.2rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 43.75em) {
  .drop-con {
    position: relative;
    width: 100%;
  }
}

@-webkit-keyframes animbefore {
  0% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes animbefore {
  0% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}
/*# sourceMappingURL=main.css.map */