.service-section {
//   height: 100vh;
  background-color: $blue-light;

  .service {
    max-width: 140rem;
    margin: 0 auto;

    .tittle {
      padding-top: 5rem;
      @media only screen and(max-width: 43.75em) {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

      h1 {
        position: relative;
        margin-top: 10rem;
        font-weight: 400;
        font-size: 1.5;
        color: $purple;
        background: $purple-light;
        display: inline-block;
        padding: 0.5rem 2rem;
        border-radius: 5rem;
      }
    }

    .description {
        padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10rem;
      @media only screen and(max-width: 43.75em) {
        
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        
    }

      .tittle {
        font-size: 4rem;
        font-weight: 800;
        line-height: 5.2rem;
        
      }
      .btn-feature {
        // align-self: flex-end;
        background-color: transparent;
        

        
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      @media only screen and(max-width: 43.75em) {
        flex-direction: column;
        text-align: center;
        
    }
      
    }

    .feature {
      background-color: $white;
      padding: 2rem;
      box-shadow: 0px 40px 70px 0px rgba(0, 0, 0, 0.097);
      border-radius: 2rem;
      border-top: 2px solid transparent;
      margin: 0 2rem;
      
      @media only screen and(max-width: 43.75em) {
        margin: 2rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }


      &:hover {
        border-top: 2px solid $purple;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      svg {
        width: 5rem;
        height: 5rem;
      }

      .title {
        padding: 2rem 0;
        a {
          font-size: 2.2rem;
          font-weight: 800;
          text-decoration: none;
          color: $dark-blue;
        }
      }

      .description {
        p {
          font-size: 1.5rem;
          @media only screen and(max-width: 43.75em) {
            text-align: center;
            
        }
        }
      }
    }

    .f1 {
      flex: 1;
      &:hover{
        box-shadow: 0px 40px 70px 0px #fe0c7d1c;
    }
    .bi-file-earmark-bar-graph-fill{
        color:$pink;
        
    }
}

.f2 {
    flex: 1;
    &:hover{
        box-shadow: 0px 40px 70px 0px #2f81ed21;

    }
      .bi-house-fill{
          color: $blue;
      }
    }
    .f3 {
      flex: 1;
      &:hover{
        box-shadow: 0px 40px 70px 0px #fbad2629;

    }
      .bi-layers-fill{
          color: $yellow;
      }
    }
  }
}
